<div class="container">
    <div class="row">
        <div class="col-8">
            <table class="table table-striped">
                <thead>
                    <th>ID</th>
                    <th>Código</th>
                    <th>Nombre</th>
                    <th></th>
                </thead>
                <tbody>
                    <tr *ngFor="let marca of marcas">
                        <td>{{marca.MarcaID}}</td>
                        <td>{{marca.Codigo}}</td>
                        <td>{{marca.Nombre}}</td>
                        <td>
                            <button (click)="deleteMarca(marca.MarcaID)" class="btn btn-danger">x</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-4">
            <h3>Formulario agregar Marca</h3>
            <div class="form-group">
                <label for="controlCodigo">Código</label>
                <input type="text" [(ngModel)]="newMarca.Codigo" class="form-control" placeholder="Ingrese el Código" />
            </div>

            <div class="form-group">
                <label for="controlNombre">Nombre</label>
                <input type="text" [(ngModel)]="newMarca.Nombre" class="form-control" placeholder="Ingrese el Nombre" />
            </div>

            <button (click)="postMarca()" class="btn btn-success">Agregar</button>
        </div>
    </div>
</div>