<!-- Form to add a new zone -->
<div class="col-12 mb-4" style="text-align: center;">
    <h3>Agregar Nuevo Competidor</h3>
</div>

<form [formGroup]="onCreateCompetidorForm" (ngSubmit)="postCompetidor(onCreateCompetidorForm.value)">
    <div class="col-12">
        <div class="form-group">
            <label for="codigo">Código</label>
            <input type="text" formControlName="Codigo" id="codigo" class="form-control"
                placeholder="Ingrese el Código" />
            <div *ngIf="onCreateCompetidorForm.get('Codigo').hasError('required') &&  onCreateCompetidorForm.get('Codigo').touched"
                class="text-danger" style="float: left">Campo obligatorio</div>
        </div>

        <br clear="all">

        <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" formControlName="Nombre" id="nombre" class="form-control"
                placeholder="Ingrese el Nombre" />
            <div *ngIf="onCreateCompetidorForm.get('Nombre').hasError('required') &&  onCreateCompetidorForm.get('Nombre').touched"
                class="text-danger" style="float: left">Campo obligatorio</div>
        </div>

        <br clear="all">

        <div class="form-group">
            <label for="calle">Calle</label>
            <input type="text" formControlName="Calle" id="calle" class="form-control" placeholder="Ingrese la Calle" />
            <div *ngIf="onCreateCompetidorForm.get('Calle').hasError('required') &&  onCreateCompetidorForm.get('Calle').touched"
                class="text-danger" style="float: left">Campo obligatorio</div>
        </div>

        <br clear="all">

        <div class="form-group">
            <label for="latitud">Latitud</label>
            <input type="number" step="0.1" formControlName="Latitud" class="form-control" id="latitud"
                placeholder="Ingrese la Latitud" />
            <div *ngIf="onCreateCompetidorForm.get('Latitud').hasError('required') &&  onCreateCompetidorForm.get('Latitud').touched"
                class="text-danger" style="float: left">Campo obligatorio</div>
        </div>

        <br clear="all">

        <div class="form-group">
            <label for="longitud">Longitud</label>
            <input type="number" step="0.1" formControlName="Longitud" class="form-control" id="longitud"
                placeholder="Ingrese la Longitud" />
            <div *ngIf="onCreateCompetidorForm.get('Longitud').hasError('required') &&  onCreateCompetidorForm.get('Longitud').touched"
                class="text-danger" style="float: left">Campo obligatorio</div>
        </div>

        <br clear="all">

        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" formControlName="Observar" id="observar" />
            <label class="custom-control-label" for="observar">Observar</label>
        </div>

        <br clear="all">

        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" formControlName="Marcador" id="marcador" />
            <label class="custom-control-label" for="marcador">Marcador</label>
        </div>

        <br clear="all">

        <div class="form-group">
            <label for="zona">Marca</label>
            <select class="form-control" formControlName="MarcaID" id="marca">
                <option value="" selected disabled>Seleccione una Marca</option>
                <option *ngFor="let marca of marcas" value="{{marca.MarcaID}}">{{marca.Nombre}}</option>
            </select>
            <div *ngIf="onCreateCompetidorForm.get('MarcaID').hasError('required') &&  onCreateCompetidorForm.get('MarcaID').touched"
                class="text-danger" style="float: left">Debe seleccionar una Marca </div>
        </div>

        <br clear="all">

        <div class="form-group">
            <label for="zona">Zona</label>
            <select class="form-control" formControlName="ZonaID" id="zona">
                <option value="" selected disabled>Seleccione una Zona</option>
                <option *ngFor="let zona of zonas" value="{{zona.ZonaID}}">{{zona.Name}}</option>
            </select>
            <div *ngIf="onCreateCompetidorForm.get('ZonaID').hasError('required') &&  onCreateCompetidorForm.get('ZonaID').touched"
                class="text-danger" style="float: left">Debe seleccionar una Zona<br></div>
        </div>

        <br clear="all">

        <div class="col-2" style="float: right;">
            <button [disabled]="onCreateCompetidorForm.invalid" type="submit"
                class="btn btn-success btn-sm">Agregar</button>
        </div>
    </div>
</form>

<br clear="all">
<br clear="all">